html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
/* container grid */

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60vw;
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 45vh 45vh;
    grid-template-areas: "section1 section1"         
                          "section2 section3";
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
/* section1 */
.section1 {
    grid-area: section1;
    background-color: #ccc;
    display: flex;

}

.box1{
    margin: 30px;   
}

.box1 h1{
    color: hsl(179, 62%, 43%);;
    font-size: 2rem;
}

.box1 h2{
    color:hsl(71, 57%, 48%);
    font-size: 1.7rem;
}

.box1 p{
    color: hsl(218, 22%, 67%);;
    font-size: 1.4rem;
}

/* section2 */
.section2 {
    background-color: hsl(179, 62%, 43%);
    grid-area: section2;
    display: flex;
}

.box2{
    margin: 30px;
}

.box2 h1{
    letter-spacing: .1rem;
    color: #fff;
    font-size: 1.3rem;
}

.box2 h2{
    display: inline;
    color: #fff;
    font-size: 2rem;
    margin: 0;
}

.box2 .per-month{
    color: #fff;
    padding-left: 10px;
    line-height:2.2rem;
    font-size: 1rem;
    opacity: .8;
}

.box2 p{
    text-align: justify;
    color: #fff;
    font-size: 1.2rem;
}

.flutuar{
    display: flex;
}

.btn{
    font-size: 1.4rem;
    color: #fff;
    background-color: hsl(71, 73%, 54%);
    width: 330px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 1;
    cursor: pointer;
    transition: .5s;
}

.btn:hover{
    opacity: .8;
}

/* section3 */
.section3 {
    background-color: hsla(179, 55%, 49%, 0.912);
    grid-area: section3;
    display: flex;
}

.box3{
    text-align:start;
    letter-spacing: .1rem;
    margin: 30px;
    opacity: .9;
}

.box3 h1{
    font-size: 1.3rem;
    color: #fff;
}

.box3 p{
    font-size: 1.1rem;
    padding-right: 50px;
    color: #fff;
}

/* Responsive */
@media (max-width: 800px) {

    body{
        display: flex;
        align-items: flex-start;
    }
    
    .container {
        width: 90vw;
        display: grid;
        grid-template-columns: 90vw;
        grid-template-rows: auto;
        grid-template-areas: "section1"         
                              "section2"
                              "section3";
        align-content: center;
        justify-content: center;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;       
    }

    .btn{
        font-size: 1.2rem;
        width: 200px;
    }    

  }

































