html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
/* container grid */
.container {
    width: 800px;
    height: 500px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 40vh 40vh;
    grid-template-areas: "section1 section1"         
                          "section2 section3";
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
/* section1 */
.section1 {
    grid-area: section1;
}

.box1{
    margin: 30px;
}

.box1 h1{
    color: hsl(179, 62%, 43%);;
    font-size: 2rem;
}

.box1 h2{
    color:hsl(71, 73%, 54%);
    font-size: 1.7rem;
}

.box1 p{
    color: hsl(218, 22%, 67%);;
    font-size: 1.4rem;
}

/* section2 */
.section2 {
    background-color: hsl(179, 62%, 43%);
    grid-area: section2;
}

.box2{
    margin: 30px;
}

.box2 h1{
    letter-spacing: .1rem;
    color: #fff;
    font-size: 1.3rem;
}

.box2 h2{
    display: inline;
    color: #fff;
    font-size: 2rem;
    margin: 0;
}

.box2 .per-month{
    color: #fff;
    padding-left: 10px;
    line-height:2.2rem;
    font-size: 1rem;
    opacity: .8;
}

.box2 p{
    text-align: justify;
    color: #fff;
    font-size: 1.2rem;
}

.flutuar{
    display: flex;
}

.btn{
    font-size: 1.4rem;
    color: #fff;
    background-color: hsl(71, 73%, 54%);

    width: 330px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 1;
}

.btn:hover{
    opacity: .8;
}

/* section3 */
.section3 {
    background-color: hsla(179, 55%, 49%, 0.912);
    grid-area: section3;
}

.box3{
    text-align:start;
    letter-spacing: .1rem;
    margin: 30px;
    opacity: .9;
}

.box3 h1{
    font-size: 1.3rem;
    color: #fff;
}

.box3 p{
    font-size: 1.1rem;
    padding-right: 50px;
    color: #fff;
}

/* Responsive */
@media only screen and (max-width: 600px) {

    .container {
        margin: 20px auto;
        display: grid;
        width: 300px;
        height: 900px;
        grid-template-columns: 100%;
        grid-template-rows: 300px 300px 300px;/* 1fr 1fr 1fr; */
        grid-template-areas: "section1"         
                             "section2"
                             "section3";
    }

    .btn{
        width: 240px;
    }
      
    .box1 h1{
        font-size: 1.8rem;
    }
    
    .box1 h2{
        color:hsl(71, 73%, 54%);
        font-size: 1.2rem;
    }
    
    .box1 p{
        color: hsl(218, 22%, 67%);;
        font-size: 1.2rem;
    }
  }

































